.svg__wrapper {
    display: flex;
    align-items: center;
    margin: 5px 0px;
}
.date__wrapper {
    display: flex;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
color: #363636;
margin: 10px 0px;
opacity: 0.6;
}
.date__img {
    padding-right: 5px;
}
.card-content p {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #363636;

}
.find-word {
    background-color: #fff96e;
}